/*Наши преимущества*/
.features {
  padding-bottom: 0;
}
.features__menu {
  display: flex;
  justify-content: center;
  padding: 0;
}
.features__item {
  width: 270px;
}
.features__item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.features__icon {
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  background: var(--button-bg-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}
.features__title {
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
}
.features__submit {
  line-height: 1.71;
  color: var(--primary-text-color);
}
