.section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .section-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: calc(33 / 28);
    text-align: center;
  }