/* Блок соцсетей */
.social-menu {
  @include flexible(flex);
}
// .team-social-menu {
//   justify-content: center;
//   margin: 0px;
//   padding: 0px;
// }
.social-menu__item {
  width: 44px;
  height: 44px;
}
.social-menu__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.social-menu__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  @include flexible(flex);
  transition: fill 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: var(--logo-bg-white-color);
  }
}

.social-menu__icon {
  width: 20px;
  height: 20px;
  fill: var(--border-client);
  .social-menu__link:hover &,
  .social-menu__link:focus & {
    fill: var(--logo-bg-white-color);
    transition: fill 250ms var(--timing-function);
  }
}
