.text-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: currentColor;
    transition: color 250ms var(--timing-function);
  }

  